.App {
  text-align: center;
}

.basket-btn {
  height: 20px;
  width: 20px;
  float: right;
  margin: 0px  10px 10px 0px;
  cursor: pointer;
}


.basket-box {
  background-color: gray;
  width: 500px;
  min-height: 100px;
  position: absolute;
  right: 10px;
  top: 120px;
}
